<div class="container">
  <!-- title -->
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Alten Dashboard</h1>
  </div>

  <!-- chart -->
  <div class="row m-2 mb-5">
    <div class="col chart-wrapper custom-chart">
      <canvas baseChart 
      [data]="doughnutChartData"
      [labels]="doughnutChartLabels"
      [chartType]="doughnutChartType"
      [colors]="doughnutColors">
    </canvas>
    </div>
  </div>

  <!-- search -->
  <div class="row">
    <div class="col-md-auto">
      <input class="form-control mr-sm-2" type="text" [(ngModel)]="searchText" placeholder="Search" aria-label="Search">
    </div>
  </div>

  <!-- table -->
  <div class="table-responsive pt-2 vehicle-table">
    <table class="table table-striped table-sm">
      <caption>Information about vehicles and customers </caption>
      <thead>
        <tr>
          <th scope="col"># <em class='icon-arrow-up'></em><em class='icon-arrow-down'></em></th>
          <th scope="col">Status</th>
          <th scope="col">VIN (VehicleId)</th>
          <th scope="col">Reg. nr.</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Customer Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let vehicle of allVehicles$ | async | searchFilter:searchText">
          <td>{{ vehicle.id }}</td>
          <td>
            <div class="vehicle-status" *ngIf="vehicle.status == 'Online'">
              <em class="material-icons status-icon status-on">check_circle</em>
              <span>{{ vehicle.status }}</span>
            </div>
            <div class="vehicle-status" *ngIf="vehicle.status == 'Offline'">
              <em class="material-icons status-icon status-off">error</em>
              <span>{{ vehicle.status }}</span>
            </div>
          </td>
          <td>{{ vehicle.vehicle_id }}</td>
          <td>{{ vehicle.registration_number }}</td>
          <td>{{ vehicle.owner_name }}</td>
          <td>{{ vehicle.owner_address }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
